In [30]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from tensorflow.keras import layers, models
from tensorflow.keras.utils import to_categorical

In [4]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten, Conv2D, MaxPooling2D, LSTM

In [5]:
import json
with open('data.json', 'r') as f:
    labels = json.load(f)
labels

{'Boy': 0,
 'Can': 1,
 'Eat': 2,
 'Fine': 3,
 'Girl': 4,
 'Help': 5,
 'How': 6,
 'Hungry': 7,
 'I': 8,
 'Mother': 9,
 'Namaste': 10,
 'Name': 11,
 'Parents': 12,
 'Sister': 13,
 'Sleep': 14,
 'This': 15,
 'You': 16}

In [127]:
import json
with open('length.json', 'r') as f:
    labels = json.load(f)
len(labels['0'][0])

1

In [6]:
f=open('words.txt','r')
words=f.read().split('\n')
words

['Boy',
 'Can',
 'Eat',
 'Fine',
 'Girl',
 'Help',
 'How',
 'Hungry',
 'I',
 'Mother',
 'Namaste',
 'Name',
 'Parents',
 'Sister',
 'Sleep',
 'This',
 'You']

In [83]:
X=pd.read_csv('landmarks.csv')
X.head()

                                           Landmarks  Length
0  [-0.2904878  -0.16641041 -0.09852826 ... -0.39...    4356
1  [-1.14277988 -1.14277988 -1.14277988 ... -0.49...    4752
2  [-1.06837073 -1.06837073 -1.06837073 ... -0.42...    4752
3  [-0.22918894 -0.11131902 -0.05098939 ... -0.71...    4356
4  [-0.87611416 -0.80004271 -0.7496262  ... -0.14...    4356

In [84]:
X.shape

(722, 2)

In [33]:
type(X)

pandas.core.frame.DataFrame

In [35]:
length=X['Length']
length=length.values
length

array([4356, 4752, 4752, 4356, 4356, 4158, 4158, 4158, 3960, 3366, 3564,
       3366, 3960, 3762, 3762, 3762, 4356, 3762, 3762, 3762, 4158, 3564,
       3564, 3564, 3366, 3366, 3762, 3564, 3564, 3564, 3564, 3564, 3366,
       3366, 3366, 3366, 4752, 4752, 4752, 4752, 3762, 3366, 3366, 3564,
       3564, 3762, 3762, 3564, 4158, 3960, 3960, 4158, 4752, 4752, 4752,
       3564, 3960, 3960, 3564, 4950, 5148, 5148, 4950, 2772, 3762, 3762,
       3168, 5346, 5742, 5742, 5346, 3564, 3960, 3960, 3762, 3960, 4356,
       4356, 4554, 5346, 5346, 5148, 4554, 4554, 4554, 3564, 3564, 3366,
       3960, 3960, 3762, 4752, 4752, 4752, 4752, 4356, 4158, 4356, 4356,
       4158, 4158, 4158, 3960, 5148, 5346, 5346, 5148, 4158, 4158, 4158,
       4158, 5148, 4950, 5148, 4950, 4356, 4554, 4554, 4554, 4554, 4752,
       4752, 4554, 4950, 5148, 5148, 4752, 4950, 4752, 4752, 4950, 4554,
       4752, 5148, 4554, 4356, 4158, 4356, 4356, 3564, 3564, 3762, 3564,
       4356, 4158, 4356, 4356, 4950, 4752, 4950, 4950, 3564, 3564, 3762,
       3564, 4158, 3762, 3960, 3960, 3366, 3564, 3564, 3564, 4158, 4356,
       4158, 3960, 4158, 3960, 4158, 4356, 4158, 3960, 3960, 3564, 4158,
       4158, 4158, 3960, 3960, 3762, 3960, 3762, 4554, 4554, 4554, 4554,
       4356, 4752, 4752, 4554, 4158, 4158, 4158, 4158, 2970, 4158, 4158,
       3960, 4752, 4752, 4752, 4752, 4158, 4356, 4356, 4356, 4554, 4554,
       4554, 4554, 4554, 4554, 4356, 4356, 4356, 4356, 4356, 4356, 2970,
       3366, 3366, 3564, 3366, 3960, 3960, 3564, 2376, 3366, 3366, 2970,
       3168, 3366, 3366, 3564, 4158, 3960, 3960, 3960, 3762, 3366, 3564,
       3960, 3960, 3960, 3960, 4356, 4356, 3960, 4158, 4356, 4356, 3564,
       3564, 3762, 3960, 4158, 4158, 4158, 3960, 3960, 3960, 4356, 4158,
       4158, 4356, 3960, 4752, 4554, 4752, 4554, 4356, 4356, 4554, 4356,
       3762, 3960, 3762, 4950, 5148, 5148, 4950, 4356, 4356, 4356, 4158,
       4158, 4356, 4356, 4158, 3960, 4158, 4158, 3960, 3762, 3366, 3366,
       3762, 3366, 3168, 3168, 3366, 4950, 4950, 4950, 4950, 4158, 4158,
       4158, 4158, 3366, 4356, 4356, 3960, 4158, 4158, 4158, 3960, 4752,
       4752, 4950, 4752, 4950, 4950, 4950, 4752, 4158, 4356, 4356, 4356,
       4554, 4554, 4554, 4356, 4554, 4554, 4356, 3960, 4158, 3960, 4356,
       4554, 4554, 4158, 4158, 4158, 4554, 4554, 4554, 4554, 4356, 4356,
       4356, 4356, 4158, 3960, 3762, 3960, 3960, 4752, 4752, 4752, 4950,
       4752, 4950, 5346, 5346, 5346, 4950, 4950, 4950, 4356, 4554, 4554,
       4554, 4554, 4752, 4752, 4554, 3960, 4356, 4356, 4356, 4554, 4554,
       4554, 4356, 4158, 4158, 4158, 4950, 4950, 4950, 4950, 4158, 4356,
       4356, 4356, 4554, 4752, 4752, 4752, 4158, 4356, 4356, 4356, 4158,
       4356, 4356, 4356, 4356, 4554, 4554, 4554, 4356, 4356, 4356, 4158,
       4158, 4158, 4554, 4554, 4554, 4554, 4554, 4554, 3564, 4158, 4158,
       4158, 3564, 4158, 4158, 4158, 4554, 4554, 4554, 4554, 4158, 4356,
       4356, 4158, 4554, 4752, 4752, 4554, 3960, 4158, 4158, 4158, 4752,
       4752, 4950, 4752, 4158, 4356, 4356, 4158, 4356, 4554, 4356, 4356,
       4554, 4356, 4158, 4158, 4158, 4356, 4356, 4356, 4356, 4356, 4356,
       4158, 4356, 4356, 4356, 4356, 4356, 4554, 4554, 4554, 3762, 3960,
       3960, 3960, 4356, 4356, 4554, 4554, 3960, 3960, 4158, 4158, 3366,
       3366, 3564, 3168, 3960, 3960, 4158, 4158, 3762, 3960, 4158, 3564,
       3762, 3960, 4158, 4158, 3564, 4158, 4356, 4158, 3762, 3762, 3762,
       3762, 3960, 3960, 3762, 4356, 4554, 4356, 3564, 3564, 3564, 3564,
       3564, 3366, 3762, 3564, 3564, 3960, 3168, 3366, 3564, 3366, 3366,
       2772, 2772, 3762, 3564, 3564, 3564, 3762, 2574, 1980, 1980, 1980,
       3564, 2574, 2574, 2772, 3762, 3564, 3564, 3366, 3564, 4554, 4554,
       4752, 2970, 3168, 3168, 2970, 2970, 2970, 3564, 3564, 3366, 2772,
       2772, 2772, 2970, 2376, 2376, 2574, 3366, 3366, 3366, 3168, 3366,
       1980, 1980, 2574, 3960, 3960, 3960, 3960, 3960, 4158, 4158, 4158,
       4752, 4950, 4950, 4950, 4158, 4356, 4356, 4356, 5148, 5148, 5346,
       5346, 4752, 4950, 4950, 4950, 4158, 4158, 4158, 3960, 4158, 4158,
       5346, 5346, 5346, 5940, 5940, 5940, 4950, 5148, 5148, 5148, 4554,
       4752, 4752, 4752, 4158, 4356, 4356, 4356, 4158, 4356, 4356, 4356,
       4356, 4554, 4554, 4554, 5742, 5940, 5940, 5742, 4356, 4554, 4356,
       5742, 5742, 5544, 5148, 5148, 5148, 4950, 4950, 4950, 4950, 4752,
       4158, 4158, 4158, 3960, 5148, 5346, 5346, 5346, 3960, 4158, 4158,
       4158, 4356, 4554, 4554, 4554, 4158, 4158, 4158, 4950, 4950, 4950,
       4158, 4158, 4158, 4752, 4950, 4950, 4950, 5148, 5148, 5148, 3168,
       3564, 3564, 2970, 3960, 3762, 3960, 3960, 4554, 4554, 4554, 4554,
       4158, 4158, 4356, 4356, 3366, 3366, 3366, 3564, 4554, 4356, 4356,
       4158, 4752, 4752, 4356, 3762, 3762, 3960], dtype=int64)

In [16]:
length.shape

(722,)

In [85]:
max_length=np.max(length)
print(max_length)

5940

In [86]:
X=X.values
X

array([['[-0.2904878  -0.16641041 -0.09852826 ... -0.39651233 -0.70850587\n -0.05254742]',
        4356],
       ['[-1.14277988 -1.14277988 -1.14277988 ... -0.49046609 -0.25420246\n  0.02268253]',
        4752],
       ['[-1.06837073 -1.06837073 -1.06837073 ... -0.42379022 -0.27514243\n  0.02454704]',
        4752],
       ...,
       ['[-1.24033847 -1.24033847 -1.24033847 ... -0.40978268 -0.23581894\n -0.03443953]',
        3762],
       ['[-1.1873401  -1.1873401  -1.1873401  ... -0.36844441 -0.20814289\n -0.04991296]',
        3762],
       ['[-0.07082944  0.0630345   0.12609374 ... -0.31779537 -0.65161079\n  0.02929306]',
        3960]], dtype=object)

In [111]:
x=X[0][0].replace('\n', '')
x

# l=np.fromstring(x, dtype=float, sep=' ')
# l

'[-0.2904878  -0.16641041 -0.09852826 ... -0.39651233 -0.70850587 -0.05254742]'

In [114]:
x=x.strip('][').split()

AttributeError: 'list' object has no attribute 'strip'

In [121]:
x[3]

'...'

In [106]:
def pad_data(data=x):
    # l=data[0].replace('\n', '')
    # l=np.fromString(data[0], dtype=float)
    # l=[l[i].strip('\n') for i in range(len(l)) if '\n' in l[i]]
    
    l=np.fromstring(data, dtype=float, sep=' ')
    print(l)
    print(l.shape)
    # return np.array(data.split(),dtype=float)

In [107]:
pad_data()

[]
(0,)

C:\Users\Dell\AppData\Local\Temp\ipykernel_15564\2078451199.py:6: DeprecationWarning: string or file could not be read to its end due to unmatched data; this will raise a ValueError in the future.
  l=np.fromstring(data, dtype=float, sep=' ')

In [22]:
X.iloc[0]

TypeError: 'str' object cannot be interpreted as an integer

In [11]:
length=X['Length']
length

0      4356
1      4752
2      4752
3      4356
4      4356
       ...
687    4950
688    4950
689    5148
690    5148
691    5148
Name: Length, Length: 692, dtype: int64

In [6]:
Y=pd.read_csv('labels.csv')
Y.head()

   Class Label
0            0
1            0
2            0
3            0
4            0

In [7]:
Y.shape

(692, 1)

In [12]:
Y=to_categorical(Y).astype(int)
Y

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1]])

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

Model-1

In [ ]:
model=Sequential()
model.add(LSTM(64, return_sequences=True, activation='relu', input_shape=(X.shape[1], X.shape[2])))
model.add(LSTM(128, return_sequences=True, activation='relu'))
model.add(LSTM(64, return_sequences=False, activation='relu'))
model.add(Dense(62, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(len(words), activation='softmax'))

In [ ]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['categorical_accuracy'])

In [ ]:
model.fit(x_train, y_train, epochs=10, batch_size=32, validation_data=(x_test, y_test), callbacks=[tb_callback])

In [ ]:
model.summary()

MODEL 2

In [ ]:
model=Sequential()
model.add(Conv2D(16, kernel_size=(3, 3), activation='relu', input_shape=(X.shape[1], X.shape[2], 1)))
model.add(MaxPooling2D())

model.add(Conv2D(32, kernel_size=(3, 3), activation='relu'))
model.add(MaxPooling2D())

model.add(Conv2D(16, kernel_size=(3, 3), activation='relu'))
model.add(MaxPooling2D())

model.add(Flatten())

model.add(Dense(256, activation='relu'))
model.add(Dense(len(words), activation='softmax'))

In [ ]:
res=model.predict(x_test)
res[0]

##Save model

In [ ]:
model.save('model.h5')

model=tf.keras.models.load_model('model.h5')

Prediction

In [ ]:
words[np.argmax(model.predict(x_test)[0])]

In [ ]:
from sklearn.metrics import accuracy_score, multilabel_confusion_matrix
y_pred=model.predict(x_test)

In [ ]:
y_true=np.argmax(y_test, axis=1).tolist()
y_pred=np.argmax(y_pred, axis=1).tolist()

In [ ]:
y_true

In [ ]:
multilabel_confusion_matrix(y_true, y_pred)

In [ ]:
accuracy_score(y_true, y_pred)