In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('sign_language_data.csv')
df['Class Label'].unique()
df.head()

   Unnamed: 0 Class Label                                          Landmarks
0           0         Boy  [-0.2904877959721088, -0.16641040988436406, -0...
1           1         Boy  [-1.142779883255223, -1.142779883255223, -1.14...
2           2         Boy  [-1.0683707317528615, -1.0683707317528615, -1....
3           3         Boy  [-0.22918893763408849, -0.11131902349273194, -...
4           4         Boy  [-0.8761141557032232, -0.8000427084121983, -0....